---
layout: gallery-empty
---

<div class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <a class="brand" href="/">Karolina</a>
  </div>
</div>
<p></p>

{% if page.title != '.' %}
<ul class="breadcrumb">
  <li><a href="/">Start</a> <span class="divider">/</span></li>
  {% for item in page.parents %}
    <li><a href="{{item.page_url}}">{{ item.title }}</a> <span class="divider">/</span></li>
  {% endfor %}
  <li class="active">{{ page.title }}</li>
</ul>
{% endif %}

{{ content }}

<hr/>

<footer>
    <p>Theme created by <a href="https://twitter.com/janowskit">@janowskit</a></p>
</footer>
