---
layout: gallery-main
---

<ul class="thumbnails">
{% for item in page.galleries %}
  <li class="span5">
      <ul class="thumbnails">
          <li class="span2">
              <a href="{{ item.url }}" title="{{ item.title}}">
                <img src="{{item.thumbnail_url}}" width="200" height="200" />
              </a>
          </li>
          <li class="span3">
              <h4>
                <a href="{{ item.url }}" title="{{ item.title }}">
                  {{ item.title }}
                </a>
              </h4>
              <p>{{ item.date }}</p>
              <p>{{ item.description }}</p>
          </li>
      </ul>
  </li>
{% endfor %}
</ul>

<ul class="thumbnails">
{% for item in page.media %}
  <li class="span2">
    <a href="{{item.url}}" title="{{item.title}}">
      <img src="{{item.thumbnail_url}}" width="200" height="200" />
    </a>
  </li>
{% endfor %}
</ul>
